 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>웅이네 샤인매스캣</title>
     <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Song+Myung&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/static/css/style.css?v=1.4">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
 </head>
 <body>
     <!-- 첫 번째 섹션: 배경 이미지 -->
     <div class="section background-img">
         <img src="/static/img/back3.png" alt="Background Image"/>
     </div>
     
     <!-- 두 번째 섹션: 콘텐츠 -->
     <div class="section content">
        <div class ="form">
            <form id="nickname-form">
                <input type="text" id="userid" name="userid" placeholder="아이디를 입력하세요" required>
                <button type="button" id="submit-nickname">아이디 등록</button>
            </form>
            <button id="start-test">시험 시작</button>
            <script>
                function startTest() {
                    const startTime = new Date().toISOString();
                    localStorage.setItem('startTime', startTime);
                    document.cookie = `startTime=${startTime}; path=/`; // startTime을 쿠키에 저장
                    document.cookie = `est_theta=0; path=/`; // est_theta 쿠키 초기화
                    console.log(document.cookie); // 쿠키를 콘솔에서 확인
                    window.location.href = '/quiz';
                }
                document.getElementById('start-test').addEventListener('click', startTest);
            </script>
            <button id="result">결과 확인</button>
            <script>
                document.getElementById('submit-nickname').addEventListener('click', function() {
                var userid = document.getElementById('userid').value.trim();

                // 입력 값이 비어 있는지 확인
                if (!userid) {
                    alert('아이디를 입력해주세요.'); // 또는 사용자에게 보여줄 다른 형태의 경고 메시지
                    return; // 함수 실행을 여기서 중단
                }

                    fetch('/users/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ userid: userid })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('아이디가 이미 사용 중입니다.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        localStorage.setItem('userid', data.userid);
                        console.log('userid 저장됨:', data.userid);
                        alert('등록 성공! 환영합니다, ' + data.userid);
                    })
                    .catch(error => {
                        alert(error.message);
                    });
                });
            </script>
            <script>
                function testResult() {
                    //alert('Button clicked!');
                    window.location.href = '/result'; // 결과 확인 페이지로 이동
                }
                document.getElementById('result').addEventListener('click', testResult);
            </script>
            <!-- JavaScript 코드 -->
            <script>
                // 페이지 스크롤 스크립트
                $(document).ready(function() {
                    var $html = $("html, body");
                    var page = 1;
                    var lastPage = $(".section").length;

                    $(window).on("wheel", function(e) {
                        if($html.is(":animated")) return;

                        if(e.originalEvent.deltaY > 0) {
                            if(page == lastPage) return;
                            page++;
                        } else if(e.originalEvent.deltaY < 0) {
                            if(page == 1) return;
                            page--;
                        }
                        var posTop = (page-1) * $(window).height();

                        $html.animate({scrollTop: posTop}, 1200); 
                    });
                });
            </script>
        </div>
    </div>
</body>
</html>

