<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="/static/css/quiz.css"> <!-- 퀴즈 페이지 스타일 -->
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
</head>
<header>
  <div class="header-container">
      <img src="/static/img/cute_cat.png" alt="Cute Cat" class="cute-cat-image"/>
  </div>
</header>
<body>
    <div id="quiz-container">
        <div id="question-container">
            <h1 id="question-text">문제1</h1>
            <p id="idk">진짜뭐함?</p>
            <div id="options-container">
                <!-- 선택지 버튼이 여기에 들어갑니다 -->
            </div>
        </div>
    </div>
    <script src="/static/js/quiz.js"></script> <!-- 퀴즈 페이지 스크립트 -->
</body>
</html>
