<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웅이네 샤인매스캣 - 퀴즈 페이지</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Song+Myung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/quiz.css?v=1.2">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="/static/img/cute_cat.png" alt="Cute Cat" class="cute-cat-image"/>
        </div>
    </header>
    <div class="box">
        <div class="container">
            <h1>초등 5학년 수학</h1>
            <div id="quiz-container">
                <div id="question-container">
                    <h2 id="question-number">1번째 문제</h2>
                    <h3 id = "display-start-time"></h3>
                    <p id="question-text">문제가 여기에 표시됩니다.</p>
                    <div id="userid-display"></div>
                    <!-- 기존의 O/X 버튼에 각각 고유한 ID를 추가하지 않고, class로 이벤트를 추가하겠습니다. -->
                    <button id="o-button">O</button>
                    <button id="x-button">X</button>

                    <button id="next-button">다음</button>
                </div>
                
            </div>
        </div>
    </div>

    <script src="/static/js/quiz.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      const startTimeString = localStorage.getItem('startTime');
      if (startTimeString) {
        // ISO 문자열에서 Date 객체를 생성합니다.
        const startTime = new Date(startTimeString);
        // 날짜 포맷을 '년-월-일 시:분' 형식으로 설정합니다.
        const formattedTime = startTime.getFullYear() + '-' + 
            ('0' + (startTime.getMonth() + 1)).slice(-2) + '-' + 
            ('0' + startTime.getDate()).slice(-2) + ' ' + 
            ('0' + startTime.getHours()).slice(-2) + ':' + 
            ('0' + startTime.getMinutes()).slice(-2);
        
        // ID가 'display-start-time'인 요소에 포맷팅된 시간을 표시합니다.
        document.getElementById('display-start-time').textContent = `시작 시간: ${formattedTime}`;
      }
    });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        console.log('문서 로드 완료');
        const userid = localStorage.getItem('userid'); // 또는 쿠키에서 읽기
        console.log('userid:', userid);
        if (userid) {
          document.getElementById('userid-display').textContent = `사용자 ID: ${userid}`;
        }
      });
    </script>
</body>
</html>

